{% extends "base.html" %}
{% load static %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}


{% block content %}
<div id="profile_header">
    <img id="profile_picture" src="https://picsum.photos/600">
    <div id="bio">
        <h2>Hello {{ user.username }}!</h2>
        <p>Bio</p>
    </div>
    <a href="{% url 'users:editAccount' %}">Edit your account</a>
</div>

<h2>My Stories</h2>

    <div id="my-stories">
        {% if my_stories %}
            {% for story in my_stories %}
                {% include "news/storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


<div class="button"><a id="new-story" href="{% url 'news:newStory' %}">Write New Story</a></div>


{% endblock %}