{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Laura Santi">
        <!-- <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
        <header>
            <div class="header-text">
                <a href="{% url 'news:index' %}" > <img id="logo" src="/static/images/shecodeslogo.png" alt="Laura Santi"></a>
                {% include './nav.html' %}
            </div>
        </header>


        <!-- content blocks here -->
        {% block content %} {% endblock %}
    </body>
</html>
