@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #ffff;
    margin:0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 30px 0 30px 0;
    /* border-bottom: 1px solid #000; */
    /* margin-bottom: 50px; */
}

#logo {
    width: 50%;
    padding: 10px;
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

.header-text {
    /* flex-basis: 80%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%
    
}

#main-header {
    width: 100%;
    max-height: 400px;
}

nav {
    /* flex-basis: 20%; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    margin: 2px;
    text-decoration: none;
}

a, p {
    font-family: 'Oswald', sans-serif;
}




form {
    margin: 50px auto;
    width: 100%;
}


.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    font-size: 20px;
    color: #bfd2d9;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    background-color: #002535;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #bfd2d9;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #22646e;
    padding: 5px;
    font-size: 18px;
    background-color: #002535;
}

.form-item input,
.form-item textarea {
    color: #bfd2d9;
}

.form-item button {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.form-item button:hover {
    border: 2px solid #22646e;
    background-color: #bfd2d9;
    color: #002535;
}

.form-item button {
    width: 100px;
    color: #bfd2d9;
}