@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Source+Sans+Pro:ital@1&display=swap');


body {
    background-color: #ffff;
    margin:0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 30px;
    padding-bottom: 30px;
}

#logo {
    width: 50%;
    padding: 10px;
}


h1 {
    text-decoration: none;
    font-size: 65px;
    margin: 0;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#358597;
    margin:0;
}

h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color:#358597;
}

.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
    margin-right: 30px;
    font-size: 20px;
}

#main-header {
    width: 100%;
    max-height: 400px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    padding: 10px;
    color: #358597
}

a:hover {
    color: #f4a896;
}

a {
    text-decoration: none;
}

a, p {
    font-family: 'Oswald', sans-serif;
}


form {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

form label {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #358597;
    letter-spacing: 1px;
}

form button {
    font-family: 'Bebas Neue';
    background-color: #f4a896;
    border: solid #358597;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: 18px;
    align-content: center;
    letter-spacing: 3px;
    color: #358597;
}

form input {
    border: 1px solid #358597;
}

/* .fill-form {
    margin-left: 40px;
    margin-top: 70px;
} */
.fill-form form{
    width: 30%;
    text-align: left;
}

.button {
    color: #f4a896;
    background-color: #358597;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    border: solid;
    align-content: center;
    letter-spacing: 2px;
}


.fill-form label {
    font-size: 18px;
    color: #358597;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight:600;
}

.fill-form input:hover,
.fill-form textarea:hover {
    border: 2px solid #f4a896;
}


.fill-form textarea {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.fill-form-button {
    color: #f4a896;
    background-color: #358597;
    text-align: center;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    border: solid;
    align-content: center;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
}

.fill-form-button:hover {
    border: 2px solid #358597;
    background-color: #f4a896;
    color: #358597;
}


footer{
    background-color: #358597;
    display: flex;
}

#footer-items{
    width: 100%;
    text-align: center;
}

#footer_sign{
    border: solid 2px;
    padding: 5px;
    color: #f4a896;
}

.footer-button{
    margin:20px;
    margin-top: 30px;
    font-size: 20px;
    color: #f4a896;
}
.footer-social{
margin-top: 40px;
}

.social_foot{
    width: 50px;
    text-align: center;
    padding: 10px;
}

.footer-credit{
    color: #f4a896;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.hero-image img {
    width: 100%;
}

.hero-title{
    font-family: 'Playfair Display', serif;
    font-size: 90px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-text{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.hero-text a {
    border: solid 1px #f4a896;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #358597;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.hero-text a:hover {
    background-color: #358597;
    color: white;
}