@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Source+Sans+Pro:ital@1&display=swap');


/* * {
    border: solid blue;
} */

h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}



p {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2rem;
    padding:10px;
}

.story-card {
    margin: 10px;
    border: 1px solid #000;
    padding: 3px;

}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit:cover;
    text-align: center;
}

#latest-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

#latest-stories .story-card {
    width: 27%;
    justify-content: space-between;
}



/* 
#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
} */

/* #story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
} */

#all-stories {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;

}

#all-stories .story-card {
    width: 27%;
    justify-content: space-between;
}

#story-content {
    justify-content: space-around;
    text-align: center;
    padding: 5px 300px 0 300px;
}

.story_author {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #8245af;

}

#story-content img {
    margin: 0 0 10px 10px;
    object-fit:cover;
    width: 500px;

}

#new-story {
    color: #f9a427;
    background-color: #8245af;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border: solid;
    align-content: center;
    font-family: 'Bebas Neue', cursive;
}

.button {
    text-align: center;
}






form {
    margin: 50px auto;
    width: 100%;
}


.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    font-size: 20px;
    color: #bfd2d9;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    background-color: #002535;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #bfd2d9;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #22646e;
    padding: 5px;
    font-size: 18px;
    background-color: #002535;
}

.form-item input,
.form-item textarea {
    color: #bfd2d9;
}

.form-item button {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.form-item button:hover {
    border: 2px solid #22646e;
    background-color: #bfd2d9;
    color: #002535;
}

.form-item button {
    width: 100px;
    color: #bfd2d9;
}