{% extends "base.html" %}

{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="flex-div">
    <div id="story-wrapper">
        <img class="story_image" src="{{story.url}}"> 
        <img src="{{story.author.profile_picture}}">
        <h4 id="story_author"> Written by {{ story.author }}</h4>
        <p>{{story.author.bio}}</p>
    </div>
    <div id="story-content">
        <div>
            <h2>{{ story.title }}</h2>
            <h4>{{story.pub_date}} | {{story.category}}</h4>
            <p>{{ story.content|linebreaks }}</p>
        </div>
        <div class="comments">
            <h2>Comments...</h2>
            <button><a href="{% url 'news:newComment' story.id %}">Add comment</a></button>
            {% if not story.comments %}
                <h3>No comments yet </h3>
            {% else %}
            <br></br>
                {% for comment in story.comments.all %}
                    <strong>
                    {{comment.name}}
                    {{comment.date_added}}
                    </strong>
                    {{comment.body}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
